@import '~/assets/scss/_colors.scss';

.color {
  &-white {
    color: $white;
  }
}

body {
  font-family: 'PT Sans', sans-serif;
}

a {
  color: $white;
  &:hover {
    color: $white;
    opacity: 0.5;
    text-decoration: none;
  }
}

#fp-nav {
  z-index: 5;
  ul li a {
    span {
      background: $white;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: $white;
  background: $secondary;
  line-height: 1;
  font-weight: bold;
  padding: 18px 32px;
  border-radius: 50px;
  transition: 0.3s;
  letter-spacing: 0.1em;
  &:hover {
    transform: translate3d(0, -5%, 0);
    color: $white;
  }
}
